@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #111827;
}

input::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #9CA3AF;
}



body {
  padding: 0;
  margin: 0;
  background-color: #e5e7eb;
}

button {
  cursor: pointer;
  transition: transform 0.3s ease;
  &:hover {
    transform: scale(1.05);
  }
  &:active {
    transform: scale(1);
  }
}

a {
  text-decoration: none;
  color: #111827;
  &:hover {
    color: #8b5cf6;
  }
}

.wrapper {
  max-width: 1500px;
  margin: 0 auto;
}
