
.Guarantee {
    padding-top: 70px;

    .button {
      text-align: center;
    }
}

.header {
  text-align: center;
  margin-bottom: 30px;
  .title {
    margin-bottom: 20px;
  }
  .desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    max-width: 756px;
    margin: 0 auto;
  }
}
